<template name="signup">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign up:</h2>
        <div class="row">
          <button id="facebook-login" class="btn btn-primary mlm mbm mrm col-md-4">Facebook Sign Up</button>
        </div>
        {{#if error}}
          <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}
        <form id="register-form" >
          <div class="form-group">
            <label for="account-first-name">First Name</label>
            <input type="text" class="form-control" id="account-first-name" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="account-last-name">Last Name</label>
            <input type="text" class="form-control" id="account-last-name" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="account-email">Email address</label>
            <input type="email" class="form-control" id="account-email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="account-password">Password</label>
            <input type="password" class="form-control" id="account-password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>
