<template name="about">
    <div class="container">
        <div class="row">
            <h3>What is Klick?</h3>
            <p>Klick is Kellogg’s only app for meeting new students and organizing small group events.</p>
            <p>Our mission is to make it easier for students to forge new connections with other students they wouldn’t normally meet. We believe we can help diversify individual networks at Kellogg and make our school a more inclusive environment.</p>

            <h3>What is KETI?</h3>
            <p>Klick is part of Kellogg Education Technology Incubator (KETI). KETI’s mission is to help Kellogg create the premier technology experience amongst business schools by harnessing the power of student-led innovation. We were one of the winner’s of KETI’s 2014 business plan competition.</p>

            <h3>Who are we?</h3>
            <p>How many Kellogg students does it take to make a meet-up app? None really, we all know our brilliant NU undergrad programmer Nikhil is all that matters. We are Phil Brown, Ashley Jurinka, and Ryan Lee, three second years at Kellogg who want to make our school as connected as possible. We hope you love using Klick as much as we’ve loved creating it.</p>

            <div class="row">
                <div class="col-md-6">
                    <img src="/images/team.jpg" class="img-responsive img-rounded">
                </div>
            </div>

            <h3>How do I host an event?</h3>
            <p>Do you want to host an event and add it to Klick’s event list?  Email us</p>

            <h3>Question, Improvements?</h3>
            <p>Please reach out to us here if you have any questions or improvements.</p>


            <p>&lt;3 Team Klick</p>
        </div>
    </div>
</template>
