// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';
@import 'lib/flat-ui.import.less';

/* -------------------
    Main Content
   ------------------- */

body { 
  padding-top: 70px; 
}

html, body {
  height: 100%;
}

.dropdown-menu{
  min-width: 320px;
}

.profile{
  .profile-img{
    height: 200px;
    margin: 21px 0 17px;
    vertical-align: bottom;
  }
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.clickable {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.hero {
  color: white;
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

[data-required] label:after {content: '*'}

.event_card {
  ul {
    cursor: pointer;
  }

  .btn-toolbar {
    margin-left: 0;
    .btn-group {
      width: 100%;
      margin-left: 0;
    
      .btn {
        width: 50%;
      }
    }
  }
}

.nowrap {
  white-space: nowrap ;
}