// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';
@import 'lib/flat-ui.import.less';

/* -------------------
    Main Content
   ------------------- */

body { 
  padding-top: 50px; 
}

html, body {
  height: 100%;
}

.dropdown-menu{
  min-width: 320px;
}

.profile{
  .profile-img{
    height: 200px;
    margin: 21px 0 17px;
    vertical-align: bottom;
  }
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.navbar-brand{
  padding: 0;
  img {
    height: 45px;
    margin-left: 20px;
  }
}

.clickable {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.hero {
  color: white;
  background: url('../images/hero.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .logo {
    margin: auto;
    padding-bottom: 20px;
  }

  .green_bar {
    background-color: rgba(22,193,183, 0.7);
    .lead {
      color: #d3d3d3;
    }
  }

  .upcoming_events {
    padding: 0 50px;
  }
}

.team {
  background-color: @klick-purple;
  color: white;
}

[data-required] label:after {content: '*'}

.event_card {
  color: @klick-purple;

  ul {
    cursor: pointer;
  }

  .btn-toolbar {
    margin-left: 0;
    .btn-group {
      width: 100%;
      margin-left: 0;
    
      .btn {
        width: 50%;
      }
    }
  }
}

.nowrap {
  white-space: nowrap ;
}