<template name="event">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{#if isInRole 'admin'}}
          <a href="/events/{{eventData._id}}/edit">
            <h2>{{eventData.title}} <span class="fui-new"></span></h2>
          </a>
        {{else}}
          <h2>{{eventData.title}}</h2>
        {{/if}}
        <p>
          <span class="nowrap"><span class="fui-location"></span> {{eventData.location.street}}</span> &nbsp;
          <span class="nowrap"><span class="fui-calendar"></span> {{formatDateTime eventData.date}}</span> &nbsp;
          <span class="nowrap"><b>Group Size:</b> {{eventData.groupLimit}}</span>
        </p>  
        {{#if eventData.description}}
        <p>
          {{eventData.description}}
        </p>
        {{/if}}
      </div>
      {{#if isRegistered}}
        {{#if viewable}}
          <div class="row row-centered">
            <p class="lead">You will be meeting:</p>
            {{#each group}}
            <div {{groupAttr ..}}>
              {{> userCard}}
            </div>
            {{/each}}
          </div>
        {{else}}
          <div class="row row-centered">
            {{#each repeat eventData.groupLimit}}
            <div {{groupAttr ..}}>
              <img src="/images/blankavatar.png" class="img-responsive img-rounded margin auto">
            </div>
            {{/each}}
          </div>
          <div class="row text-center">
            <p class="lead padding lr">Get excited…make sure to check back here in {{secondsToDays getCountdown}} and we’ll reveal your matched Klick group. 
            </p>
          </div>  
        {{/if}}
      {{/if}}
      <div class="col-md-12 text-center padding bottom">
        {{#if future}}
          {{#if canceledOn}}
            <h3>You canceled your registration for this event</h3>
          {{else}}
            {{#if isRegistered}}
              {{#unless viewable}}
                <button class="btn btn-danger btn-large " id="unregister" type="submit">Sadly, I must cancel</button>
              {{else}}
                <a class="btn btn-primary btn-large" type="submit" href="mailto:{{#each groupEmails}}{{this}};{{/each}}">Contact All Attendees</a>
                <a id="cancel" class="btn btn-danger btn-large" type="submit" href="mailto:{{#each groupEmails}}{{this}};{{/each}}?subject=Sorry! I can’t make it today.&cc=klick@kellogg.northwestern.edu">Cancel – Contact All Attendees</a>
                <a class="btn btn-warning btn-large" type="submit" href="mailto:{{#each groupEmails}}{{this}};{{/each}}?subject=Sorry! Running late">Running Late – Contact All Attendees</a>
              {{/unless}}
            {{else}}
              {{#if isFull}}
                <h3>Sorry this event is full</h3>
              {{else}}
                <button class="btn btn-primary btn-large " id="register" type="submit">Join</button>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
