<template name="user">
  <div class="container">
    <div class="row">
      {{#if no_events}}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-info" role="alert">Sweet profile!  Now go  click the Events button above and check out some  upcoming  meet-ups  you can join!</div>
          </div>
        </div>
      {{/if}}
      <div class="col-md-12 profile">
        <div class="row">
          <div class="col-md-4">
            <img src="{{kellog_pic profile.netid}}" class="profile-img img-rounded {{#unless isPhone}}pull-right{{/unless}}">
          </div>
          <div class="col-md-6">
            <h3>
              {{name}}
              {{#if showEdit _id}}
                <a class="btn btn-primary margin left" href="/users/{{_id}}/edit">Edit</a>
              {{/if}}
            </h3>
            <blockquote>
            {{#if profile.tagline}}
              <p>{{profile.tagline}}</p>
            {{/if}}
            </blockquote>
            <div class="col-md-10">
              <table class="table">
                {{#if profile.birthday}}
                  <tr>
                    <td>Birthday:</td>
                    <td>{{formatDate profile.birthday}}</td>
                  </tr>
                {{/if}}
                {{#if profile.gender}}
                  <tr>
                    <td>Gender:</td>
                    <td>{{profile.gender}}</td>
                  </tr>
                {{/if}}
                {{#if profile.program}}
                  <tr>
                    <td>Program:</td>
                    <td>{{profile.program}}</td>
                  </tr>
                {{/if}}
                {{#if profile.section}}
                  <tr>
                    <td>Section:</td>
                    <td>{{profile.section}}</td>
                  </tr>
                {{/if}}
                {{#if profile.kwesttrip}}
                  <tr>
                    <td>Kwest Trip:</td>
                    <td>{{profile.kwesttrip}}</td>
                  </tr>
                {{/if}}
                {{#if profile.gradYear}}
                  <tr>
                    <td>Class of:</td>
                    <td>{{profile.gradYear}}</td>
                  </tr>
                {{/if}}
                {{#if profile.nationality}}
                  <tr>
                    <td>Nationality:</td>
                    <td>{{profile.nationality}}</td>
                  </tr>
                {{/if}}
              </table>
            </div>
          </div>  
        </div> 
      </div>
    </div>
  </div>
</template>