<template name="user">
  <div class="container">
    <div class="row">
      <div class="col-md-12 profile">
        <div class="row">
          <div class="col-md-4">
            <img src="{{profile.picture}}" class="profile-img img-rounded {{#unless isPhone}}pull-right{{/unless}}">
          </div>
          <div class="col-md-6">
            <h3>
              {{name}}
              {{#if userIsLoggedInUser _id}}
                <a class="btn btn-primary" href="/users/{{_id}}/edit">Edit</a>
              {{/if}}
            </h3>
            <blockquote>
            {{#if profile.bio}}
              <p>{{profile.bio}}</p>
            {{/if}}
            </blockquote>
            <p>
              {{#if profile.birthday}}
                <b>Birthday:</b> {{formatDate profile.birthday}}<br>
              {{/if}}
              {{#if profile.gender}}
                <b>Gender:</b> {{profile.gender}}<br>
              {{/if}}
              {{#if profile.website}}
                <b>Website:</b> {{profile.website}}<br>
              {{/if}}
              {{#if profile.program}}
                <b>Program:</b> {{profile.program}}<br>
              {{/if}}
              {{#if profile.gradYear}}
                <b>Class of:</b> {{profile.gradYear}}<br>
              {{/if}}
              {{#if profile.organizations}}
                <b>Companies and Organizations:</b>
                <ul>
                  {{#each profile.organizations}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              {{/if}}
              {{#if profile.education}}
                <b>Education:</b>
                <ul>
                  {{#each profile.education}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              {{/if}}
              {{#if profile.nationalities}}
                <b>Nationalities:</b>
                <ul>
                  {{#each profile.nationalities}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              {{/if}}
              {{#if profile.languages}}
                <b>Languages:</b>
                <ul>
                  {{#each profile.languages}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              {{/if}}
            </p>
          </div>  
        </div> 
      </div>
    </div>
    {{#if userIsLoggedInUser _id}}
    <hr>
    <div class="row">
      <h2 class="text-center">Past events</h2>
      {{#each pastEvents}}
        {{> eventCard}}
      {{/each}}
    </div>
    {{/if}}
  </div>
</template>