<template name="events">
    <div class="container">
      {{#if currentUser}}
      <div class="btn-group pull-right" role="group">
        <button type="button" id="all-events" class="btn btn-default {{#if allEvents}}active{{/if}}">All</button>
        <button type="button" id="reg-events" class="btn btn-default {{#unless allEvents}}active{{/unless}}">Registered</button>
      </div>
      {{/if}}
      <div class="row">
        {{#each areas}}
          <div class="col-md-12">
            <h4>{{name}}</h4>
            <div class="row">
              {{#each events}}
                {{#if ifInArea ../_id area}}
                  {{#if filter this}}
                    {{> eventCard}}
                  {{/if}}
                {{/if}}
              {{/each}}
            </div>
            <hr>
          </div>
        {{/each}}
      </div>
    </div>
</template>
