<template name="events">
    <div class="container">
      {{#if currentUser}}
      <div class="btn-group pull-right" role="group">
        <button type="button" id="all-events" class="btn btn-default {{#if isFilter 'all'}}active{{/if}}">Upcoming</button>
        <button type="button" id="reg-events" class="btn btn-default {{#if isFilter 'reg'}}active{{/if}}">Going</button>
        <button type="button" id="past-events" class="btn btn-default {{#if isFilter 'past'}}active{{/if}}">Past</button>
      </div>
      {{/if}}
      <div class="row">
        {{#each areas}}
          <div class="col-md-12">
            <h4>{{name}}</h4>
            <div class="row">
              {{#each events}}
                {{#if ifInArea ../_id area}}
                  {{> eventCard}}
                {{/if}}
              {{/each}}
            </div>
            <hr>
          </div>
        {{/each}}
      </div>
    </div>
</template>
